<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#sign_out_button").click(function(){
                    $.post("/api/auth/signout", null,
                    function(data, status){
                        window.location.replace("/");
                    });
                });
            });
            $(document).ready(function(){
<<<<<<< HEAD
=======
                /**
                 * Close the account.
                 */
>>>>>>> feature/updateable_fields
                $("#close_account_button").click(function(){
                    $.post("/api/user/closeacc",
                    {
                        username: $("#username_field").val(),
                        password: $("#password_field").val(),
                    },
                    function(data, status){
                        window.location.replace("/");
                    });
                });
<<<<<<< HEAD
=======

                /**
                 * Updated user fields.
                 */
                $("#save_button").click(function(){
                    $.post("api/user/update",
                    {
                        first_name: $("#first_name_field").val(),
                        feedback: $("#feedback_field").val(),
                        rating: $("#rating_field").val(),
                    },
                    function(data, status){
                        if (0 == status.localeCompare('success')) {
                            $("#sign_in_feedback").text('Update successful!');
                        }
                        else {
                            $("#sign_in_feedback").text('Registration unsuccessful!');
                        }
                    });
                });
>>>>>>> feature/updateable_fields
            });
        </script>
    </head>
<body>
    Account name: {{ user.username }}<br/><br/>
    Hello {{ user.first_name }}!<br/><br/>
    First name: <input id="first_name_field" type="textbox" value="{{ user.first_name }}"></input><br/><br/>
    Rating <input id="rating_field" type="range" min="1" max="10" value="{{ user.rating }}" class="slider"><br/><br/>
    Feedback <input id="feedback_field" style="line-height: 100px" type="textarea" value="{{ user.feedback }}"></input>?<br/><br/>
    <input id="save_button" type="button" value="Save changes"></type>
    <div id="sign_in_feedback"></div>
    <input id="sign_out_button" type="button" value="Sign Out"></type>
    <input id="close_account_button" type="button" value="Close Account"></type>
Password <input id="password_field" type="text"></input>
</body>
</html>
