<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Staging Template">
    <meta name="keywords" content="Staging, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Staging | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/slick.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/electroneum-index.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__widget">
            <span>What do you think?</span>
            <h4>07786 944 013</h4>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="#"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="#" data-scrollto='dilemma' class='scroll_link'>Dilemma</a></li>
                            <li><a href="#" data-scrollto='approach' class='scroll_link'>Approach</a></li>
                            <li><a href="#" data-scrollto='portal' class='scroll_link'>Register</a></li>
                            <li><a href="#" data-scrollto='notes' class='scroll_link'>Notes</a></li>
                            <li><a href="https://github.com/JohnFF/edevtest">Codebase</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__widget">
                        <span>What do you think?</span>
                        <h4>07786 944 013</h4>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="hero__text">
                    <h2>Quality is not subjective</h2>
                    <a href="#" class="primary-btn scroll_link" data-scrollto='portal'>Register Now</a>
                    <a href="#" class="more_btn">Next section</a>
                    <div class="hero__social">
                        <a href="https://twitter.com/civifirst"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/johnff"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpg">
                <div class="hero__text">
                    <h2>Dream employers use symfony?</h2>
                    <a href="#" class="primary-btn scroll_link" data-scrollto='dilemma'>See Dilemma</a>
                    <a href="#" class="more_btn">Next section</a>
                    <div class="hero__social">
                        <a href="https://twitter.com/civifirst"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/johnff"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-num" id="snh-1"></div>
        <div class="slider__progress"><span></span></div>
    </section>
    <!-- Hero Section End -->

    <!-- Dilemma Section Begin -->
    <section id="dilemma" class="dilemma spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="dilemma__text">
                        <div class="section-title">
                            <span>what's the problem?</span>
                            <h2>The Dilemma</h2>
                        </div>
                        <div class="dilemma__para__text">
                            <ul>
                                <li>Dream employer uses symfony, but...</li>
                                <li>Would doing the exercise in "pure" Symfony mean it was perceived as too easy?</li>
                                <li>Would doing it in "pure" PHP mean that I miss out on the chance to show I could work in Symfony?</li>
                                <li>I want it ready for them first thing on Monday morning!</li>
                            </ul>
                        </div>
                        <br/>
                        <a href="#" data-scrollto='approach' class='scroll_link primary-btn normal-btn'>The Approach</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="dilemma__pic">
                        <div class="dilemma__pic__inner">
                            <img src="img/about-pic.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dilemma Section End -->

    
    <!-- Approach Section Begin -->
    <section id="approach" class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="approach__text">
                        <div class="section-title">
                            <span>How to solve it</span>
                            <h2>The approach</h2>
                        </div>
                        <div class="approach__para__text">
                            <ul>
                                <li>Use symfony as the core engine, but develop custom components for sessions and storage.</li>
                                <li>Implement a simple storage mechanism that's secure and robust: introducing fewer variables that could delay delivery.</li>
                                <li>Instead make absolutely sure that all the core features are SOLID, polished, secure, and robust, before...</li>
                                <li>Investing any remaining time on integrating a great interface to make a great first impression.</li>
                            </ul>
                        </div>
                        <br/>
                        <a href="#" data-scrollto='portal' class='scroll_link primary-btn normal-btn'>Now to register...</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="approach__pic">
                        <div class="approach__pic__inner">
                            <img src="img/about-pic.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Approach Section End -->
    
    <!-- Project Section Begin -->
    <section id="portal" style="padding: 100px" class="project set-bg"  data-setbg="img/testimonial/testimonial-bg.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>It's portal time!</span>
                        <h2>Register Now</h2>
                        Username <input id="register_username_field" data-regex="{{ validation.username.regex }}" data-max_length="{{ validation.username.max_length }}" type="text" /><span id="register_username_feedback"></span>
                        First name <input id="register_first_name_field" type="text" /><span id="register_first_name_feedback"></span>
                        Password <input id="register_password_field" data-min_length="{{ validation.password.min_length }}" data-max_length="{{ validation.password.max_length }}" data-regex="{{ validation.password.regex }}" type="password" /><span id="register_password_feedback"></span><br/>
                        <a id="register_button" type="button" value="" class='primary-btn normal-btn'>Register</a><span id="registration_feedback"></span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Already registered?</span>
                        <h2>Sign In</h2>
                        Username <input id="sign_in_username_field" type="text" /><span id="sign_in_username_feedback"></span>
                        Password <input id="sign_in_password_field" type="password" /><span id="sign_in_password_feedback"></span>
                        <a id="sign_in_button" type="button" class='primary-btn normal-btn'>Sign in</a><span id="sign_in_feedback"></span>
                    </div>
                    <br/>
                    <a href="#" data-scrollto='notes' class='scroll_link primary-btn normal-btn'>Implementation notes</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Project Section End -->

    <!-- Notes Section Begin -->
    <section id="notes" class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Some Details</span>
                        <h2>Implementation Notes</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/services/services-4.png" alt="">
                        <h4>Consistent Style</h4>
                        <p>Different firms use different styles: the important thing is consistency.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/services/services-4.png" alt="">
                        <h4>Test Driven</h4>
                        <p>Key functions are covered by automated tests.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/services/services-4.png" alt="">
                        <h4>Validation</h4>
                        <p>Front end validation is backed up with server-side validation, to prevent mischief.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/services/services-4.png" alt="">
                        <h4>Architecture</h4>
                        <p>Separated elements into MVC, and then further into SOLID design.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/services/services-4.png" alt="">
                        <h4>Symfony core</h4>
                        <p>Although not a symfony guy, it was important to demonstrate that I could adopt it with no problems (without using it to do all the lifting!).</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/services/services-4.png" alt="">
                        <h4>Clarity</h4>
                        <p>Self-documenting code doesn't exist, so each function and class has its own clear comment block and a clear naming scheme.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="img/services/services-4.png" alt="">
                        <h4>Themes</h4>
                        <p>To demonstrate I could work across the stack, I adopted and adapted a sophisticated theme, including adding jQuery and moving it to Twig for Symfony.</p>
                    </div>
                </div>
            </div>
            <div class="counter__content">
            </div>
        </div>
    </section>
    <!-- Notes Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto spad set-bg" data-setbg="img/call-bg.jpg">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 text-center">
                    <div class="callto__text">
                        <span>Let's talk</span>
                        <h2>
                            Happy to rebuild in either pure Symfony or pure PHP!
                        </h2>
                        <a href="#" class="primary-btn">Let me know</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->

    <!-- Projects Section Begin -->
    <section id="projects" class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-6">
                    <div class="section-title">
                        <span>From GitHub</span>
                        <h2>Other cool projects</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="latest__btn">
                        <a href="http://github.com/johnff" class="primary-btn normal-btn">The Repo</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <div class="latest__item__pic">
                            <img src="img/blog/latest-1.jpg" alt="">
                        </div>
                        <div class="latest__item__text">
                            <span>Data Cleaning</span>
                            <h4>Email Address Corrector</h4>
                            <a href="https://github.com/JohnFF/Email-Amender">See code</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <div class="latest__item__pic">
                            <img src="img/blog/latest-2.jpg" alt="">
                        </div>
                        <div class="latest__item__text">
                            <span>Data Cleaning</span>
                            <h4>Phone Number Validator</h4>
                            <a href="https://github.com/JohnFF/Phone-Number-Validator">See code</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <div class="latest__item__pic">
                            <img src="img/blog/latest-3.jpg" alt="">
                        </div>
                        <div class="latest__item__text">
                            <span>Security</span>
                            <h4>Path2ban: Drupal Security Module</h4>
                            <a href="https://www.drupal.org/project/path2ban">See project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects Section End -->

    <!-- Footer Section Begin -->
    <footer style="padding: 0px" class="footer set-bg" data-setbg="img/footer-bg.jpg">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="copyright__text">
                            <p>Copyright © <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="copyright__widget">
                        <a href="#">Terms of use</a>
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>
